<!-- <body
    style="background-image: url(https://media.wired.com/photos/593240ca58b0d64bb35d07ce/master/w_1600%2Cc_limit/hexwave.gif); height: 20cm;">
    <img src="https://media0.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.gif" style="position: fixed;">
    <div id="heading">
        <label style="font-size:1cm; color: aliceblue; position: fixed;">TO DO APPLICATION</label>
    </div>
    <button class="btn btn-primary" style="margin-left: cm; float: right; margin-right: 1cm; margin-top: 0.5cm; " routerLink="register">SIGN UP</button>
    <label style="color: aliceblue; margin-left: 28cm; margin-top: 0.5cm; ">DON'T HAVE ACCOUNT ?</label> -->
    <router-outlet></router-outlet>
<!-- </body> -->