<div style="text-align: center;">
    <h1>TASK DETAILS</h1>
    <div>
        <label style="font-size:large ;">TITLE : </label>
        <p>
            {{taskData.dataKey.title}}

        </p>
        <label style="font-size:large ;">DESCRIPTION : </label>
        <p>
            {{taskData.dataKey.description}}

        </p>
        <label style="font-size:large ;">START DATE : </label>
        <p>
            {{taskData.dataKey.startDate}}

        </p>
        <label style="font-size:large ;">END DATE : </label>
        <p>
            {{taskData.dataKey.endDate}}

        </p>
        <label style="font-size:large ;">PRIORITY : </label>
        <p>
            {{taskData.dataKey.priority}}

        </p>
        <label style="font-size:large ;">CATEGORY : </label>
        <p>
            {{taskData.dataKey.category}}

        </p>
        <button style="background-color: #3f51b5;color:white" mat-button color="primary" mat-dialog-close>Close</button>
    </div>

</div>