<div id="#divs" style="margin-left: 500px; margin-top:  10px;">
    <form [formGroup]="category">
        <input class="form-control" formControlName="category" placeholder="search according category ..." style="position: fixed;
    left: 40%;
    z-index: 0;
    width: 300px;">
        <button style="position: absolute;top: 73px;right: 30%;background-color: crimson;" title="search" mat-button
            (click)="submit(category.value)">
            search</button>
    </form>
</div>
<mat-card class="card-footer" style="background-color: #27274A;top:70px;" class="example-card"
    *ngFor="let metadata of Hightask">
    <div>
        <mat-card-header>
            <div mat-card-avatar><img src="https://media0.giphy.com/media/xTiQyMdjaA5YzqTkI0/giphy.gif" height="30px">
            </div>
            <mat-icon *ngIf="metadata.priority == 'HIGH'" style="color:red ;">flag</mat-icon>
            <mat-icon *ngIf="metadata.priority == 'LOW'" style="color:aqua ;">flag</mat-icon>
            <mat-icon *ngIf="metadata.priority == 'MEDIUM'" style="color:yellow ;">flag</mat-icon>
            <mat-card-title>{{metadata.title}}</mat-card-title>
            <mat-card-subtitle>PRIORITY : {{metadata.priority}}</mat-card-subtitle>
            <mat-card-subtitle>{{metadata.endDate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        </mat-card-actions>
        <hr *ngIf="metadata.priority == 'HIGH'" style="color:tomato ;height: 5px;">
        <hr *ngIf="metadata.priority == 'LOW'" style="color:aqua ;height: 5px;">
        <hr *ngIf="metadata.priority == 'MEDIUM'" style="color:yellow;height: 5px;">
    </div>
</mat-card>